@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Pacifico|Roboto|Padauk:wght@400;700&display=swap');
:root{
    --theme-color:#37003c;
    --default-bg-color: #F9F9FA;
}
.font-varela{
    font-family: 'Varela Round';
}
.welcome-title {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    color: black;
}
.text-theme-color{
    color: var(--theme-color);
}
.bg-theme-color{
    background-color: var(--theme-color);
}
.default-bg-color{
    background-color: var(--default-bg-color);
}