@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Pacifico|Roboto|Padauk:wght@400;700&display=swap');
:root{
    --theme-color:#37003c;
    --default-bg-color: #F9F9FA;
}
.font-varela{
    font-family: 'Varela Round';
}
.text-theme-color{
    color: var(--theme-color);
}
.bg-theme-color{
    background-color: var(--theme-color);
}
.default-bg-color{
    background-color: var(--default-bg-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

