input[type=range] {
  height: 7px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 23px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #FF1C33;
  background: #AC51B5;
  border-radius: 36px;
  border: 2px solid #A534C7;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 1px;
  width: 1px;
  border-radius: 0px;
  background: #65001C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #AC51B5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 23px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #FF1C33;
  background: #AC51B5;
  border-radius: 36px;
  border: 2px solid #A534C7;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 1px;
  width: 1px;
  border-radius: 0px;
  background: #65001C;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 23px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #AC51B5;
  border: 2px solid #A534C7;
  border-radius: 72px;
  box-shadow: 0px 0px 0px #FF1C33;
}
input[type=range]::-ms-fill-upper {
  background: #AC51B5;
  border: 2px solid #A534C7;
  border-radius: 72px;
  box-shadow: 0px 0px 0px #FF1C33;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 1px;
  width: 1px;
  border-radius: 0px;
  background: #65001C;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #AC51B5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #AC51B5;
}